body{
    background-color: pink;
}


.place{
    color: rgb(240, 9, 9);
   
    border: 1px solid black;
    padding: 10px;
    max-width: 500px;
    
    

}
img{
    width: 500px;
    height: 300px;
}
h1{
    color: aqua;

}